<p style="color: green"><%= notice %></p>

<%= render @alerts_history %>

<div>
  <%= link_to "Edit this alerts history", edit_alerts_history_path(@alerts_history) %> |
  <%= link_to "Back to alerts histories", alerts_histories_path %>

  <%= button_to "Destroy this alerts history", @alerts_history, method: :delete %>
</div>
