<br/>
<br/>
<br/>
<p style="color: green"><%= notice %></p>

<h1>Wallets</h1>

<%= link_to "New wallet", new_wallet_path %> | 
<%= link_to "Alerts history", alerts_histories_path %>
<br/>
<br/>
<div id="wallets">
  <% @wallets.each do |wallet| %>
    <p>
      <%= render wallet %> (
        <%= link_to "Show", wallet %>    
      )
    </p>
  <% end %>
</div>
