<p style="color: green"><%= notice %></p>

<br/>
<br/>
<%= render @wallet %>
<br/>
<div>
  <b>Stocks:</b>
  <br/>
  <%= show_stocks_from_wallet(@wallet) %>
  <br/>
</div>
<div>
  <%= link_to "Add Stock", new_stock_path %> |
  <%= link_to "Edit this wallet", edit_wallet_path(@wallet) %> |
  <%= link_to "Back to wallets", wallets_path %>

  <%= button_to "Destroy this wallet", @wallet, method: :delete %>
</div>
